<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <h1 class="header display-1 text-center"> <%=name %></h1>
            <p class="Home">Go Back to the Home Page <a href="http://localhost:3000"> here </a></p>
            <p class="header-text"> Add an actor <a href="http://localhost:3000/actor-form">here</a></p>
            <p class="header-text"> Add a director <a href="http://localhost:3000/director-form">here</a></p>
            <p class="header-text"> Add a genre <a href="http://localhost:3000/genre-form">here</a></p>
            <p class="header-text"> Add a production company <a href="http://localhost:3000/production-form">here</a></p>
            <p class="header-text"> Add a streaming platform <a href="http://localhost:3000/streaming-form">here</a></p>
            <p class="header-text"> Add a movie <a href="http://localhost:3000/movie-form">here</a></p>
        </div>
    </header>