<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center">404 Error. Page not found</h2>
    </div>
</main>



<%- include('../partials/footer') %>