<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center text-capitalize">add a genre</h2>
            <form action="http://localhost:3000/api/genre/create"
            method="post"
            class="form" 
            id="genreForm">

            <div class="row mb-3">
                <div class="col">
                    <label for="genre" class="form-label">genre</label>
                    <input type="text" id="genre" name="genre" class="form-control">
                </div>
            </div>
            <button 
            class="btn btn-primary"
            type="submit"
            role="button">
            Add Genre
            </button>
            </form>
    </div>
</main>


<%- include('../partials/footer') %>