<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center text-capitalize">add a streaming platform</h2>
            <form action="http://localhost:3000/api/streaming_platform/create"
            method="post"
            class="form" 
            id="streamingForm">

            <div class="row mb-3">
                <div class="col">
                    <label for="streaming_platform" class="form-label"> streaming platform </label>
                    <input type="text" id="streaming_platform" name="streaming_platform" class="form-control">
                </div>
            </div>
            <button 
            class="btn btn-primary"
            type="submit"
            role="button">
            Add Streaming Platform 
            </button>
            </form>
    </div>
</main>